html {
	padding: 3% 10% 10% 10%;
	background-image: url(Fundo.jpg)
}

header {
	padding: 25px 25px 25px 25px;
}


.foto-perfil {
	float: left;
    margin: 5px 15px 10px 0;
	width: 180px;
	border-radius: 75%;
}

.foto-perfil:hover {
	width: 210px;
	margin: 0px 15px 10px 0;
	transition: 0.5s all;
}

.nome {
	font-size: 50px;
	display: inline-block;
}

.logo {
	width: 20px;
	padding: 0 0 0 8px;
	display: inline;
}

.logo:hover {
	width: 23px;
	transition: 0.2s all;
}

.funcao{
	font-size: 40px;
	display: inline;
	color: green;
}

.dado {
	font-size: 30px;
	color: #444444;
	display: inline-block;
	width: 40%
}

.titulo {
	font-size: 30px;
	display: inline-block;
	color: green;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

.subtitulo{
	font-size: 25px;
	font-weight: bold;
	display: inline
}

.item {
	font-size: 25px;
	color: #444444;
	display: inline
}

.subitem{
	font-size: 25px;
	color: #444444;
}

.texto {
	font-size: 25px;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
}